.bg img{
    background-repeat: no-repeat;
    background-size:cover ;
    width: 100%;
    height: 713px;
    background-size: cover;
}

.col-4{
    padding: 25px;
    position: absolute;
    top: 35%;
    left: 15%;
}

