<div class="card">
    <mat-card class="example-card">
      <div class="avatar">
        <div mat-card-avatar class="example-header-image"></div>
      </div>
      <h1>KAVISHKA P</h1>
      <p>____________</p>
      <br><br><br>
      <div class="info">
      <h3>ROLL NO <span class="dot">:</span><span class="roll">2015028</span></h3>
      <h3>EMAIL <span class="dot1">:</span><span class="email">jpkavishka@gmail.com</span></h3>
      <h3>ALTERNATE EMAIL <span class="dot2">:</span><span class="alt">2015028@nec.edu.in</span></h3>
      <h3>MOBILE NO <span class="dot3">:</span><span class="mob">8870047465</span></h3>
      <h3>GENDER <span class="dot4">:</span><span class="gen">Female</span></h3>
      <h3>DATE OF BIRTH <span class="dot5">:</span><span class="dob">03.09.2002</span></h3>
      <h3>DEGREE <span class="dot6">:</span><span class="deg">Bachelor Of Technology</span></h3>
      <h3>YEAR OF PASSING <span class="dot7">:</span><span class="yop">2024</span></h3>
      <h3>COLLEGE <span class="dot">:</span><span class="roll">NATIONAL ENGINEERING COLLEGE</span></h3>
    </div>
    </mat-card> 
</div>




  
  
